<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  </head>
  <body>
    <div id="component_test">
      <democomponent>  </democomponent>
    </div>
    <div id="component_test1">
      <democomponent>  </democomponent>
    </div>
  </body>
  <script>
    Vue.component('democomponent', {
      template: '<div v-on:mouseover = "changename()" v-on:mouseout = "originalname();"><h1>Custom Component created by <span id = "name">{{name}}</span></h1></div>',
      data: function() {
      return {
         name : "Ria"
      }
   },
   methods:{
      changename : function() {
         this.name = "Ben";
      },
      originalname: function() {
         this.name = "Ria";
      }
    }
    })
    var app = new Vue({
      el : '#component_test'
    })
    var app1 = new Vue({
      el : '#component_test1'
    })
  </script>
</html>
